*eps-converted-to.pdf
*~
*.aux
*.log
*.pdf
*.ps
*.dvi
*.out
*.backup
*.synctex.gz
*.zip
*.toc
*.idx
*.ilg
*.ind
*.gz
*.tar
*.kilepr
!/book.kilepr
*.bts
*.blg
*conflicted copy*
*.bbl
*.bcf
*.dep
*.run.xml
*.mps

the-defs-CBA.synctex.gz(busy)
.arXiv.synctex.gz.icloud

*.gz(busy)
all.synctex(busy)
mppics/pic.mpx
